<div class="client-list-container">
  <!-- Título -->
  <h1 class="client-title">Listado de Clientes</h1>

  <!-- Filtro centrado -->
  <div class="filter-section">
    <div class="row justify-content-center">
      <div class="col-sm-6">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Buscar Cliente</mat-label>
          <input
            matInput
            (keyup.enter)="applyFilters()"
            placeholder="Buscar por nombre, cédula o teléfono"
            [(ngModel)]="searchTerm"
          />
          <button mat-icon-button matSuffix (click)="applyFilters()">
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>
  </div>

  <!-- Tabla -->
<!-- Tabla -->
<div class="table-section">
  <table
    mat-table
    [dataSource]="filteredClients"
    class="mat-elevation-z8 full-width-table"
  >
    <!-- Nombres -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nombres </th>
      <td 
        mat-cell 
        *matCellDef="let client"
        (click)="abrirModalEditarCliente(client)"
        class="clickable-cell"
      > 
        {{ client.fullName }} 
      </td>
    </ng-container>

    <!-- Cédula -->
    <ng-container matColumnDef="cedula">
      <th mat-header-cell *matHeaderCellDef> Cédula </th>
      <td 
        mat-cell 
        *matCellDef="let client"
        (click)="abrirModalEditarCliente(client)"
        class="clickable-cell"
      > 
        {{ client.dni }} 
      </td>
    </ng-container>

    <!-- Teléfono -->
    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef> Teléfono </th>
      <td 
        mat-cell 
        *matCellDef="let client"
        (click)="abrirModalEditarCliente(client)"
        class="clickable-cell"
      > 
        {{ client.phone }} 
      </td>
    </ng-container>

    <!-- Cumpleaños -->
    <ng-container matColumnDef="dateOfBirth">
      <th mat-header-cell *matHeaderCellDef> Cumpleaños </th>
      <td 
        mat-cell 
        *matCellDef="let client"
        (click)="abrirModalEditarCliente(client)"
        class="clickable-cell"
      > 
        {{ client.dateOfBirth | date:'yyyy-MM-dd' }} 
      </td>
    </ng-container>

    <!-- Header y Filas -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>


  <!-- Paginación -->
  <mat-paginator
    [length]="totalClients"
    [pageSize]="pageSize"
    [pageIndex]="currentPage - 1"
    [pageSizeOptions]="[30, 50, 100]"
    (page)="onPageChange($event)"
  >
  </mat-paginator>
</div>
