:host ::ng-deep .mat-dialog-container {
  margin-top: 32px !important;
  margin-right: 24px !important;
  margin-left: 24px !important;
}

form {
  margin-top: 8px;
  margin-right: 8px;
  margin-left: 8px;
}

.titulo-centrado {
  text-align: center;
  margin-top: 24px;
}

.d-flex {
  display: flex;
}
.justify-content-center {
  justify-content: center;
}
.gap-2 {
  gap: 16px;
}
.mt-3 {
  margin-top: 1rem;
}

/* Spinner para el botón de guardar */
.spinner-border {
  width: 1rem;
  height: 1rem;
  border-width: 0.15em;
  vertical-align: text-bottom;
  margin-right: 0.5em;
  display: inline-block;
  border-radius: 50%;
  border: 0.15em solid currentColor;
  border-right-color: transparent;
  animation: spinner-border .75s linear infinite;
}
@keyframes spinner-border {
  to { transform: rotate(360deg); }
}
 