.container {
  padding: 20px;
}
.titulo-modal {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}
 .tabla-scroll {
  max-height: 250px;   /* puedes ajustar este valor */
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid #ddd;
  border-radius: 6px;
}