.d-flex {
  display: flex;
}
.flex-fill {
  flex: 1 1 0;
}
.gap-3 {
  gap: 1rem;
}
.mb-3 {
  margin-bottom: 1rem;
}
.text-end {
  text-align: end;
} 
table.table {
  font-size: 10px; /* Ajusta a tu gusto */
}
td input[formControlName="quantity"] {
  width: 45px;
}
td input[formControlName="pricesale"] {
  width: 50px;
}
td input[formControlName="taxes"] {
  width: 45px;
}
.table input.form-control-sm {
  font-size: 10px !important;
}
.table td input.form-control-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
}


/* En tu archivo CSS/SCSS */
.datepicker-cell {
  width: auto; /* o un valor fijo como 200px */
  padding: 0 0px; /* Ajusta el padding si es necesario */
}

.compact-datepicker {
  width: 150px; /* Ancho específico para el datepicker */
}

/* Opcional: Ajustar el tamaño del input interno */
.compact-datepicker .mat-input-element {
  font-size: 14px; /* Tamaño de fuente más pequeño si es necesario */
}

 

.label-oscuro {
  color: #111 !important;
  font-weight: 700;
  font-size: 1rem;
}